<app-test></app-test>

<input [value]="userService.title" />

<button (click)="userService.buttonHandler()">Click</button>

<ul>
    <li *ngFor="let user of userService.users">
        {{user.name}}
    </li>
</ul>

<div *ngIf="userService.showText">I am visible</div>

<button (click)="userService.toggleVisibility()">{{userService.showText ? 'Hide Text' : 'Show Text'}}</button>

<div id="container">
    <app-user-list-item [userArray]="userService.users"></app-user-list-item>
</div>